.user-page-container{
    display: flex;
    flex-direction: row;
    background-attachment: fixed; 
}

.user-content-container{
    width: 78%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.user-table-container{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 0.6;
}

