.page-container{
    display: flex;
    flex-direction: row;
    background-attachment: fixed; 
}

.content-container{
    margin-left: 22%;
    width: 78%;
    padding: 40px;
}

.table-container{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 0.6;
}

