.page-container{
    display: flex;
    flex-direction: row;
    background-attachment: fixed; 
    position: relative;
}

.content-container{
    margin-left: 19%;
    width: 78%;
    padding: 40px;
    z-index: 1;
}

.table-container{
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 3px;
    
    min-height: 560px;
}

.btn-container-user, .btn-container-create{
    position: fixed;
    margin-left: 44vw;
    margin-top: 85vh;
    z-index: 2;
}

.btn-container-create{
    margin-left: 48vw;
}

