.btn-blue-icon{
    background: var(--unnamed-color-074a82) 0% 0% no-repeat padding-box;
}

.btn-blue{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    padding: 10px;
    border: 1px solid var(--unnamed-color-074a82);
    font: var(--unnamed-font-style-normal) normal bold 13px/16px var(--unnamed-font-family-montserrat);
    color: var(--unnamed-color-074a82);
}