.btn-gray-icon{
    background: #707070 0% 0% no-repeat padding-box;
}


.btn-gray{
    background: #B7B7B7 0% 0% no-repeat padding-box;
    border-radius: 3px;
    font: var(--unnamed-font-style-normal) normal bold 13px/16px var(--unnamed-font-family-montserrat);
    color: #707070;
    border: none;
    padding: 10px;
}