.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.input-group-login{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    margin-top: 20px;
}

.input-group-login input{
    box-shadow: 0px 3px 6px #0000000D;
    border-radius: 5px;
    border: none;
    padding: 11px;
    color: var(--unnamed-color-a32c65);
}

.input-group-login input::placeholder{
    color: var(--unnamed-color-074a82);
}

.button-group-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.login-button{
    background: var(--unnamed-color-a32c65) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 15px;
    color: var(--unnamed-color-ffffff);
    border: none;
    width: 70%;
    font-weight: bold;
    cursor: pointer;
}

.forgot-password-button{
    background: none;
    border: none;
    color: var(--unnamed-color-074a82);
    cursor: pointer;
    font-weight: bold;
}
