.password-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 20px;
}

.groupvoltar{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.voltar{
    background: none;
    border: none;
    cursor: pointer;
}

.voltar img{
    width: 30px;
    height: 30px;
}

.imgvoltar{
   rotate: 180deg;
   filter: invert(29%) sepia(91%) saturate(747%) hue-rotate(170deg) brightness(91%) contrast(87%);
}

.password-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.inputgrouppassword{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 150%;
}

.primarypassword{
    margin-top: 20px;
}

.inputgrouppassword input{
    box-shadow: 0px 3px 6px #0000000D;
    border-radius: 5px;
    border: none;
    padding: 11px;
    color: var(--unnamed-color-a32c65);
}

.inputgrouppassword input::placeholder{
    color: var(--unnamed-color-074a82);
}

.btngrouppassword{
    display: flex;
    width: 120%;
    justify-content: center;
}

