.btns-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-container{
    display: flex;
    gap: 2px;
}

.btn-container button{
    border-radius: 5px;
    cursor: pointer;
}

.btn-container button:nth-child(1){
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.btn-container button img{
    height: 20px;
    width: 20px;
}


