.title-register{
    display: flex;
    font: var(--unnamed-font-style-normal) normal bold 20px/24px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-074a82);
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.group-inputs-registre{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-input-register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.input-registre{
    background-color: white;
    border: none;
    box-shadow: 0px 3px 6px #0000000D;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    color: var(--unnamed-color-a32c65);
}

.label-ragistre{
    width: 96px;
    height: 24px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal medium 20px/24px var(--unnamed-font-family-montserrat);
    text-align: left;
    color: #707070;
}




