.side-menu-container{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo-menu{
    width: 70%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.buttons-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    display: flex;
    background: none;
    border: none;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    width: 70%;
}

.icon-menu{
    width: 34px;
    height: 34px;
}

.p-menu{
    color: var(--unnamed-color-a32c65);
    font-size: medium;
}

.nav-link.active .p-menu {
    font: var(--unnamed-font-style-normal) normal bold 20px/24px var(--unnamed-font-family-montserrat);
    color: var(--unnamed-color-074a82);
}

.nav-link.active #sales-menu{
        content: url('../../assets/icons-menu/icon-sales-select.png');

}
.nav-link.active #user-menu{
        content: url('../../assets/icons-menu/icon-user-select.png');

}