.side-menu-container{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    width: 22%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-menu{
    width: 70%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.buttons-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

button{
    display: flex;
    background: none;
    border: none;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    width: 70%;
}

.icon-menu{
    width: 34px;
    height: 34px;
}

p{
    color: var(--unnamed-color-a32c65);
    font-size: medium;
}
