table{
    width: 100%;
    padding: 20px;
}

tr{
    display: flex;
    justify-content: flex-start; 
    gap: 15px;                  
    width: 100%;
}

td{
    padding: 10px 0;
    color: var(--unnamed-color-a32c65);
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-montserrat);
}

th, td{
    font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-15)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font-size: 12px;
    flex: 1;
}

th:nth-child(1), td:nth-child(1) {
    flex-grow: 0.1; 
}


.btn-table{
    background: none;
    border: none;
    cursor: pointer;
}