.table-sales{
    width: 90%;
}

.sales-field{
    font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-15)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-montserrat);
}

.sales-center{
    text-align: center;
    justify-content: center;
}