.container-body-deletDialog{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    /* Fundo escurecido para dar destaque ao modal */
    background-color: rgba(248, 245, 245, 0.315); 

    backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
    
    /* Garante que fique acima de menus e tabelas */
    z-index: 9999;
}

.container-head-deletDialog{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000D;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 27%;
    height: 35%;
    padding: 20px;
    margin-top: 14%;
}

.group-text-deletDialog{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.text-deletDialog{
    font: var(--unnamed-font-style-normal) normal medium 14px/20px var(--unnamed-font-family-montserrat);
    color: #A32C2C;
}

.negrito{
    font-weight: bold;
}

.group-btn-deletDialog{
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.btn-deletDialog{
    background: #408140 0% 0% no-repeat padding-box;
    padding: 15px 55px;
    border-radius: 5px;
    border: none;
    color: var(--unnamed-color-ffffff);
    font-size: 13px;
}

.no{
    background: #A32C2C 0% 0% no-repeat padding-box;
}

