.container-body-proof{
        display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    /* Fundo escurecido para dar destaque ao modal */
    background-color: rgba(248, 245, 245, 0.315); 

    backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
    
    /* Garante que fique acima de menus e tabelas */
    z-index: 9999;
}

.containe-head-proof{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 67vh;
    border-radius: 7px;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}


.container-beige-proof{
    background: #F7F8DE 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 20px;
}
.container-info-proof{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-primary-proof{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 80%;
}

.container-primary-proof > *:last-child{
    flex: 0 0 100%;
    margin-top: 10px;
}

.title-camp-proof, .title-camp-proof-valor{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 14px/27px var(--unnamed-font-family-montserrat);
    font-size: 11px;
    color: #707070;
}

.title-camp-proof-valor{
    font-size: 15px;
}

.connoteudo-camp-proof{
    font: var(--unnamed-font-style-normal) normal 600 17px/27px var(--unnamed-font-family-montserrat);
    color: #707070;
    font-size: 12px;
}

.table-proof{
    max-height: 130px; 
    overflow-y: auto;  
    display: block;
}

.table-proof::-webkit-scrollbar {
    background: #F7F8DE;                
}

.table-proof tr{
    display: flex;
    gap: 20px;
}

.container-valor{
    display: flex;
    justify-content: space-between;
}

.sales-id-proof{
    font: var(--unnamed-font-style-normal) normal 600 11px/26px var(--unnamed-font-family-montserrat);
    color: #707070;
}

.group-btn-proof{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 300px;
    margin-top: 10px;
}

.btn-blue-proof,.btn-red-proof{
    background: var(--unnamed-color-074a82) 0% 0% no-repeat padding-box;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--unnamed-color-ffffff);
    font-size: 13px;
    width: 100px;

}

.btn-red-proof{
    background: #A32C2C 0% 0% no-repeat padding-box;
}

@media print {
    .no-print {
        display: none !important;
    }

    .container-body-proof{
        background-color: white !important;
        color: black !important;
        margin: 0;
        padding: 0;
    }

    .printable-area {
        width: 100%;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
    }

    @page {
        margin: 1cm;
    }
}
